@model AuctionSystemPOC.Models.Bid

@{
    if (ViewBag.ThisItem.Name == null)
    {
        <span class="errortext">
            @{ViewData["Title"] = "Error";}
            @Html.Raw("No such item exists")
        </span>
    }
    else
    {
        ViewData["Title"] = ViewBag.ThisItem.Name;
        List<Bid> bidlist = ViewBag.ThisItem.Bids;
        var ptext = "Price";
        if (ViewBag.ThisItem.Concluded && bidlist.Count > 0) ptext = "Sold for";

        <div class="text-center">
            <h1 class="display-4">@ViewBag.ThisItem.Name</h1>
            <br /><h4>@ptext: £<span id="price">@ViewBag.ThisItem.Price</span></h4>
            <a href="#" data-toggle="modal" data-target="#bidmodal">
                [@bidlist.Count bids]
            </a><br /><br />
            @{
                if (!ViewBag.ThisItem.Concluded)
                {
                    <form method="post" asp-controller="Listing" id="listform">
                        <input type="text" name="amount" id="amount" placeholder="Bid amount" asp-for="Amount" maxlength=9 size=10 />
                        <input type="submit" value="Submit bid" id="bidbutton" />
                    </form><br />
                }
                else
                {
                    <span class="subtext"><b>This auction has closed.</b></span><br />
                }
             }
            <br /><b>Condition:</b> @ViewBag.ThisItem.Condition
            <br /><b>Description:</b> <i>@ViewBag.ThisItem.Description</i>
            <br /><b>Seller:</b> <span id="sellername">@ViewBag.ThisItem.Username</span>
            <br /><br />

            <span class="errortext" asp-validation-for="Amount"></span><br />
            @{
                if (ViewData["BidPlaceAttempt"] != null && !(bool)ViewData["IgnoreControllerValidation"])
                {
                    if (ViewData["Error"] != null)
                    {
                        <span class="errortext">@Html.Raw(ViewData["Error"])</span>
                    }
                    else
                    {
                        <p>Successful bid.</p>
                    }
                }
            }
        </div>

        <div class="modal fade" id="bidmodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Bids for item "@ViewBag.ThisItem.Name"</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <th>Date Made</th>
                                <th>User</th>
                                <th>Amount</th>
                            </tr>
                            <tr class="subtext">
                                <td>
                                    <br /><i>(Starting price)</i>
                                </td>
                                <td>
                                    <br /><i>@ViewBag.ThisItem.Username</i><br />
                                </td>
                                <td>
                                    <br /><i>£@ViewBag.ThisItem.StartingPrice</i><br />
                                </td>
                            </tr>
                            @{
                                int ind = 1;
                                string displayclass = "";
                                foreach (Bid bid in bidlist)
                                {
                                    if (ind == bidlist.Count) displayclass = "mostrecentbid";
                                    <tr class="@displayclass">
                                        <td width="45%">
                                            @bid.DateMade
                                        </td>
                                        <td width="35%">
                                            @bid.Username &nbsp; &nbsp;
                                        </td>
                                        <td>
                                            £@{@Html.Raw((decimal)bid.Amount);}
                                        </td>
                                    </tr>
                                    ind++;
                                }
                            }
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        }
        <font color="white"><p id="itemid">@ViewBag.ThisItem.ID</p></font>
        <script src="~/js/listingcheck.js"></script>
    }