@{
    ViewData["ShowSearchInNavbar"] = true;
    List<Item> results = null;
    if (ViewBag.SearchTerm != null)
    {
        ViewData["Title"] = ViewBag.SearchTerm;
        results = ViewBag.Results;
    }
}

<div class="container-fluid pt-5">
    @{
        if (results != null)
        {
            if (results.Count == 0)
            {
                <div class="dz-error animate__animated animate__fadeInUp text-center">
                    <h3>There were no results</h3>
                    <h5 class="text-muted">Try refining your search</h5>
                </div>
            }
            else
            {
                <center>
                    <h5>Results for "@ViewBag.SearchTerm"</h5>
                </center>
                <br /><br />
                @foreach (Item result in results)
                {
                    var url = "/img/generic/invertedplaceholder.png";
                    var hlink = "/item/" + result.FindCode;
                    @if (result.ImageUrls != null)
                    {
                        if (result.ImageUrls.Count > 0) url = result.ImageUrls[0];
                    }
                    var img = "../" + url.Substring(url.IndexOf("img")).Replace("\\", "/");
                    <hr />
                    <div class="row">
                        <div class="col-md-2"><a href="@hlink"><img src="@img" class="search-result-image"/></a></div>
                        <div class="col-md-7 border-left">
                            <a href="@hlink" style="font-size: 20px;">@result.Name</a><br />
                            <span class="text-secondary">@result.GetConditionDisplayName(result.Quality)</span><br /><br />
                            <span class="result-price">£@result.Price</span>
                        </div>
                    </div>
                    <hr />
                }
            }
        }
    }
</div>
