@{
    ViewData["ShowSearchInNavbar"] = true;
    List<Item> results = null;
    if (ViewBag.SearchTerm != null)
    {
        ViewData["Title"] = ViewBag.SearchTerm;
        results = ViewBag.Results;
    }
}

<div class="container-fluid pt-5">
    @{
        if (results != null)
        {
            if (results.Count == 0)
            {
                <div class="dz-error animate__animated animate__fadeInUp text-center">
                    <h3>There were no results</h3>
                    <h5 class="text-muted">Try refining your search</h5>
                </div>
            }
            else
            {
                <center>
                    <h5>Results for "@ViewBag.SearchTerm"</h5>
                    <a href = "#" data-toggle="modal" data-target="#filter-modal" class="pr-1 pt-2">+ Filters</a>
                </center>
                <br /><br />
                @foreach (Item result in results)
                {
                    var hlink = "/item/" + result.FindCode;
                    var img = ViewFunc.GetImageUrls(result)[0];
                    <hr />
                    <div class="row">
                        <div class="col-md-2"><a href="@hlink"><img src="@img" class="search-result-image"/></a></div>
                        <div class="col-md-7 border-left">
                            <a href="@hlink" style="font-size: 20px;">@result.Name</a><br />
                            <span class="text-secondary">
                                @result.GetConditionDisplayName()
                            </span>
                            <br /><br />
                            <span class="result-price">£@result.Price</span>
                        </div>
                    </div>
                    <hr />
                }
            }
        }
    }
</div>

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Filters for search "@ViewBag.SearchTerm"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Filter options here.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                    Update search
                </button>
            </div>
        </div>
    </div>
</div>