@using Microsoft.AspNetCore.Http;

@if (ViewData["Concluded"] != null)
{
    ViewData["Title"] = ViewData["Name"];
    <h2>@ViewData["Name"]</h2>
    if ((bool)ViewData["Concluded"])
    {
        <b>This listing has ended</b>
        <br /><span class="subtext">@Html.Raw("You can still view other items at the <a href = '/'>home page</a>")</span>
    }
    else
    { 
        <span>@Html.Raw("Price: £" + ViewData["Price"])</span>
        if ((string)ViewData["Username"] != Context.Session.GetString("Name"))
        {
            <br />
            if (Context.Session.GetString("Name") == null)
            { 
                @Html.Raw("<a href = '/signin'>(Sign in to make purchases)</a>");
            }
            else
            { 
                @Html.Raw("<a href = '/buy/" + ViewData["ID"] + "'>(Buy)</a>");
            }
        }
        <br /><br />
        @Html.Raw("Condition: " + ViewData["Condition"]);
        <br />
        @Html.Raw("Description:<br /><i>'" + ViewData["Description"] + "'</i>");
        <br /><br />
        @Html.Raw("Seller: <a href = '/user/" + ViewData["Username"] + "'>" + ViewData["Username"] + "</a>");
        <br /><br /><br />
    }
}
else
{
    ViewData["Title"] = "Item not found.";
    <h3 class="errortext">No such item exists</h3>
}
