@{
    ViewData["Title"] = "Listing";
}

@{
    if (ViewData["Name"] == null)
    {
        <span class="errortext">
            @Html.Raw("No such item exists")
        </span>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">@ViewData["Name"]</h1>
            <br /><h4>Price: £@ViewData["Price"]</h4>
            <form method="post" asp-controller="Listing" onsubmit="joinbidders()">
                <input type="text" class="form-control-sm" name="amount" placeholder="Bid amount" maxlength=10 size="16" />
                <input type="submit" value="Submit bid" />
            </form>
            <br /><br /><b>Condition:</b> @ViewData["Condition"]
            <br /><b>Description:</b> <i>@ViewData["Description"]</i>
            <br /><b>Seller:</b> @ViewData["Username"]
            <br /><br />
        @{ 
            if (ViewData["BidPlaceAttempt"] != null)
            { 
                if (ViewData["Error"] != null)
                {
                    <p class="errortext">@Html.Raw(ViewData["Error"])</p>
                }
                else
                {
                    <p>Successful bid.</p>
                }
            }
        }
        </div>
        <font color="white"><p id="itemid">@ViewData["ID"]</p></font>
    }
}
