@model List<Estore.Models.User>

@{
    string title = "Not found";
    User seller = null, 
         viewer = (User)ViewBag.ViewingUser;
    Item item = null;
    if (ViewBag.ThisItem != null)
    {
        item = (Item)ViewBag.ThisItem;
        title = item.Name;
        seller = Model?.Where(i => i.Id == item.UserId).FirstOrDefault();
    }
    ViewData["Title"] = title;
    ViewData["ShowSearchInNavbar"] = true;
}

<link rel="stylesheet" href="~/lib/viewer/viewer.min.css" />

@if (item.Concluded) 
{ 
    <div class="pt-5 pl-2">
        <div class="border-left border-top pt-2 pb-2" style="width:99%;">
            <b>
                &nbsp; This listing has ended.
            </b>
        </div>
    </div>
} 

<div class="nonbscontainer">
    @if (ViewBag.ThisItem == null)
    {
        <center>
            <div class="dz-error animate__animated animate__fadeInUp pt-5">
                <h2>404 - Not found</h2>
                <h5 class="text-muted">No such item exists.</h5>
            </div>
        </center>
    }
    else
    {
        var hstyle = string.Empty;
        if (item.Concluded)
        {
            hstyle = "font-style:italic";
        }
        <br /><br />
        <div class="container-fluid">
            <h3 style="@hstyle">@item.Name</h3>
            <br /><br />
            <div class="row pl-3">
                <p>
                    <div class="col-md-4" style="height: 370px !important">
                        <ul id="images">
                            <li style="list-style-type: none;">
                                @if (item.ImageUrls != null)
                                {
                                    @foreach (string url in item.ImageUrls)
                                    {
                                        var newurl = url.Substring(url.IndexOf("img"));
                                        <img src="~/@newurl" style="height: 400px !important; display: none;" />
                                    }
                                }
                                else
                                {
                                    <img src="~/img/generic/item.png" class="item-image" />
                                }
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 border offset-cust">
                        <p class="pl-2 pt-1">
                            @{
                                var ptext = "Price";
                                if (item.Concluded)
                                {
                                    ptext = "Sold for";
                                }
                            }
                            @ptext: <font size="5"><b>£@item.Price</b></font>
                            <br />Condition: @item.GetConditionDisplayName(item.Quality)
                            <br />
                            @if (seller.Username != User.Identity.Name && !item.Concluded)
                            {
                                <div id="button-container" class="pt-1 pl-1">
                                    <button type="button" class="btn btn-primary"
                                            onclick="location.href='/buy/@item.FindCode'">
                                        Buy
                                    </button>
                                </div>
                            }
                            <hr />
                            <div class="text-secondary">
                                @{ 
                                    var shiptext = "Free shipping.";
                                    if (item.ShippingCost != 0)
                                    {
                                        shiptext = "Shipping cost: £" + item.ShippingCost.ToString();
                                    }
                                }
                                <span>@shiptext</span><br />
                                @if (item.ImageUrls == null)
                                {
                                    <span>(This seller has not included any photos for the item)</span>
                                }
                            </div>
                        </p>
                    </div>
                    <div class="col-md-2 border offset-cust-smaller">
                        @{
                            string susername = seller.Username;
                            if (susername.Length > 25)
                            {
                                susername = susername.Substring(0, susername.Length - 25) + "...";
                            }
                        }
                        <h5 class="pt-3">Seller details</h5>
                        <hr />
                        <a href="/user/@seller.Username">@susername</a><br />
                        <span class="pt-1">
                            50% positive rating 
                            @{ 
                                bool buyerCheck = false;
                                if (viewer != null)
                                {
                                    buyerCheck = item.BuyerId == viewer.Id;
                                }
                            }
                            @if (seller.Username != User.Identity.Name && (!item.Concluded || buyerCheck))
                            { 
                                <br /><br />
                                <button type="button" class="btn btn-outline-primary" 
                                        onclick="location.href = '/message/@seller.Username/@item.FindCode'">
                                    Ask about this item
                                </button>
                            } 
                        </span>
                    </div>
                </p>
            </div>
            <br /><br />
            <div id="description" class="col-md-auto border pt-3">
                <h4>Description</h4>
                <p class="pt-1">
                    <i>"@item.Description"</i>
                </p>
            </div>
        </div>
        <br /><br />
    }
</div>

<script src="~/lib/viewer/viewer.min.js"></script>
<script>
    const viewer = new Viewer(document.getElementById('images'), {
        inline: true,
        minHeight: 10,
        maxHeight: 50,
        toolbar: false,
        title: false,
        viewed() {
            viewer.resize();
        },
    });
</script>