@{
    string title = ViewData["Title"] as string;
    if (!ViewData.ContainsKey("ShowSearchInNavbar")) ViewData["ShowSearchInNavbar"] = false;
    if (!ViewData.ContainsKey("ItemPage")) ViewData["ItemPage"] = false;
    var searchstyle = "flex-fill";
    if (User.Identity.Name == null)
    {
        searchstyle = "col-sm-7";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" class="form-control-lg col-10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eStore</title>
    <link rel="icon" type="image/png" href="/img/generic/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.min.css" />
    <link rel="stylesheet" href="~/lib/animate/animate.min.css" />
    <link rel="stylesheet" href="~/lib/owl/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/owl/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/lib/notyf/notyf.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light navbar-cust border-bottom box-shadow mb-3 container-cust">
            <div class="container-fluid">
                <div class="navbar-header flex-fill">
                    <ul class="nav navbar-nav navbar-left offset-">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Storefront" asp-action="Index">Storefronts</a>
                        </li>
                        @if (title != "Home")
                        {
                            <li class='nav-item'><a class='nav-link text-dark' href='/'>Home</a></li>
                        }
                        @if ((bool)ViewData["ShowSearchInNavbar"])
                        {
                            string placeholdertxt = string.Empty;
                            if (ViewBag.SearchTerm != null)
                            {
                                placeholdertxt = (string)ViewBag.SearchTerm;
                            }
                            <li class="form-inline justify-content-md-center flex-fill offset-1 pr-2">
                                <select name="Categories" id="Categories" class="form-control col-sm-auto">
                                    <option value="All">All Categories</option>
                                    <option value="Misc">Misc</option>
                                </select>
                                &nbsp;
                                <input type="search" id="search" class="form-control @searchstyle" placeholder="Search" value="@placeholdertxt" />
                                &nbsp;
                                <button type="button" class="btn btn-outline-primary" onclick="javascript:go()">
                                    Go
                                </button>
                            </li>
                        }
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right pl-1">
                    @if (User.Identity.Name != null)
                    {
                        var dispname = ViewFunc.NormaliseName(User.Identity.Name, 12);
                        <li class='nav-item'>
                            <a class='btn btn-sell' href='/sell'>Sell an item</a>
                        </li>
                        <li class='nav-item pl-2'>
                            <a class='btn btn-outline-info' href='/my/dashboard'>Dashboard</a>
                        </li>
                        <li class="dropdown pl-2">
                            <a class="dropdown-toggle btn-outline-primary btn btn-outline-dark"
                               data-toggle="dropdown" href="#">
                                My Account (<span id="cur-username">@dispname</span>)<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-right w-100">
                                <li><a class='dropdown-item-text' href='/user/@User.Identity.Name'>Profile</a></li>
                                <li><a class='dropdown-item-text' href='/my/messages'>Messages</a></li>
                                <li><a class='dropdown-item-text' href='/my/account'>Settings</a></li>
                                <li><a class='dropdown-item-text' href='/signout'>Sign out</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        if (title != "Register")
                        {
                            <li class='nav-item'>
                                <a class='btn btn-reg' href='/register'>Register</a>
                            </li>
                        }
                        if (title != "Sign in")
                        {
                            <li class='nav-item pl-3'>
                                <a class='btn btn-outline-secondary' href='/signin'>Sign in</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </header>
    @{
        string bclass = "container";
        if ((bool)ViewData["ItemPage"] == true)
        {
            bclass += "-fluid";
        }
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - eStore
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/owl/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/lib/notyf/notyf.min.js"></script>
    <script src="~/js/notifications.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
